* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(242, 98, 16);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(237, 122, 55);
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1280px;
  width: 95%;
  margin: auto;
}

.mobile svg {
  color: white;
}

.mobile {
  display: none;
}

nav {
  width: 100%;
  height: 80px;
  background-color: #2c2c2c;

}

.nav_main {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.nav_main_left {
  width: 72px;
  height: 72px;

}

.nav_main_left img {
  width: 100%;
}

.nav_main_right {
  display: flex;
  gap: 30px;
}

.nav_main_right a {
  color: white;
  text-decoration: none;
}

header {
  width: 100%;
  height: 80vh;
  background: url('../../public/main-bg.jpg') no-repeat center center/cover;
}

.header_main_top {
  padding-top: 70px;
}

.header_main_top h1 {
  background-color: rgb(242, 98, 16);
  width: 372px;
  font-size: 22px;
  font-weight: 700;
  border-radius: 25px;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 13.5px 30px;
  color: white;
}

.header_main_center h1 {
  font-size: 52px;
  color: white;
  padding: 30px 0px 30px 0;
}

.header_main_bottom button {
  color: white;
  background-color: rgb(242, 98, 16);
  font-size: 20px;
  padding: 34px 36px;
  border-radius: 20px;
  border: 0px;
}

.card {
  width: 100%;
  height: max-content;
  background: url('../../public/statistics-bg.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: space-between;
  border-radius: 40px;
  align-items: center;
  border: 1px solid #777;
  color: white;
  margin: 30px 0;
  padding: 20px;

}

.card_left {

  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;

}

.card_center {
  display: flex;
  align-items: center;
  font-size: 18px;

  font-weight: 700;
  border-left: #777 1px solid;
  border-right: #777 1px solid;
  padding: 0 10px;
}

.card_right {
  display: flex;
  align-items: center;
  font-size: 18px;

  font-weight: 700;
}

.right1 img {
  width: 100%;
  height: 240px;
}

.right2 img {
  width: 100%;
  height: 240px;
}

.right3 img {
  width: 100%;
  height: 240px;
}

.parent {
  
  width: 100% !important;
  display: flex;
  gap: 30px;
  padding: 40px 10px;
  overflow-x: scroll;
  margin-bottom: 30px;

}

.cart {
  min-width: 290px !important;
  width: 100% !important;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 6px;
}

.cart img {
  max-width: 100% !important;
  /* width: 100% !important; */
  height: 250px !important;
  object-fit: contain !important;
}

.cart h2{
  font-size: 1.25rem;
  font-weight: 700;
  color: #2c2c2c;
}

.section_main_left h1 {
  color: #494949;
  font-size: 60px;
}

.section_main_left h2 {
  display: inline;
  background-color: rgb(242, 98, 16);
  width: 372px;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 25px;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 13.5px 30px;
  color: white;
}


.mob_nav {
  display: inline;
  position: relative;

}

.mob_nav h3 {
  color: white;
}

footer {
  width: 100%;
  height: 100%;
  display: flex;
}

footer {
  width: 100%;
  height: 50vh;
  background: url('../../public/footer-bg.jpg') no-repeat center center/cover;
}

.footer_main {
  display: flex;
  align-items: center;
}

.footer_main_left {
  width: 159px;
  height: 159px;

}

.footer_main_left img {
  width: 100%;
}

.footer_main_center a {
  color: white;
  text-decoration: none;
}

.footer_main_center {
  display: flex;
  gap: 30px;
  padding: 0px 0px 0px 140px;
}


@media all and (max-width: 745px) {
  .mobile {
    display: block;
  }

  .nav_main_right {
    display: none;
  }

  .mobile_drawer {
    width: 100%;
    height: 100%;
    background-color: #2c2c2c;
  }

  .label {
    width: 95%;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .label a img {
    width: 100px;
  }
}